<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NetworkExtension</key>
	<dict>
		<key>NEProviderClasses</key>
		<dict>
			<key>com.apple.networkextension.dns-proxy</key>
			<string>$(PRODUCT_MODULE_NAME).DNSProxyProvider</string>
		</dict>
		<key>NEMachServiceName</key>
		<string>$(TeamIdentifierPrefix)$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</dict>
	<key>NSSystemExtensionUsageDescription</key>
	<string>선택한 사이트의 DNS 주소 변경을 관찰하는 호환성 실험에 사용합니다. DNS Proxy 구성은 별도로 명시적으로 활성화해야 합니다.</string>
</dict>
</plist>
